.strong {
    font-weight: bold;
}

a {
    cursor: pointer;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.clear-top {
    padding-top: 5rem;
}

.text {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: normal;
    font-size: 1em;
}
div {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

h5 {
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 1em;
    text-decoration: underline;
}

.simple-border {
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;

}

.link-button {
    background-color: transparent;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
